<table>
  <caption>Weather Recorded By Wunderground</caption>
  <thead>
	<tr>
	  <th>Time</th>
	  <th>Temperature</th>
	  <th>Wind</th>
	  <th>Pressure</th>
	  <th>Humidity</th>
	  <th>Precipitation</th>
	</tr>
  </thead>
  <tbody>
  	<tr>
  		<td>
  			<%= weathers.size %>
  		</td>

  	</tr>
  </tbody>
</table>