<table class="game-index">

  <thead>
  	<tr>
  		<th><%= @head %></th>
  		<th colspan="8">Pitchers</th>
  		<th class="border"></th>
  		<th colspan="7">Weather</th>
  	</tr>
  	<tr>
  		<th>Away @ Home</th>
  		<%= render "starter_header" %>
  		<th class="border"></th>
  		<th>Temp</th>
  		<th>FL</th>
  		<th>DP</th>
  		<th>Wind</th>
  		<th>Baro</th>
  		<th>Humid</th>
  		<th>Prec</th>
    </tr>
  </thead>
  <tbody>

  </tbody>


</table>