<div class="header">
	<h1>Teams</h1>
</div>

<%= link_to('Home Page', {:controller => 'index', :action => 'home'})%></br></br>

<% @teams.each do |team| %>
	<%= link_to(team.name, {:controller => 'game', :action => 'team', :id => team.id, :left => 1})%> </br>
<% end %>